@media only screen and (max-width: 992px) {

}


@media only screen and (max-width: 768px) {
    .hidden-mobile{
        visibility: hidden;
    }
    .w-mobile-100{
        width: 100% !important;
    }

}

@media only screen and (max-width: 520px) {
   
}

@media only screen and (max-width: 420px) {

  
}