
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


body, .main-menu > li > a, .ltext-101, .ltext-201, .ltext-106, .ltext-108, .cl6,.mtext-112{
    font-family: 'Playfair Display', serif !important;
    font-weight: 700;
}
.small-img{
    width: 60px;
}
a>span{
    color:rgb(95, 95, 95) !important;
}
.sub-menu{
    background-color: #e3e3e3;
    border-radius: 10px;
}
.wrap-menu-desktop {
    position: initial;
}
.fix-menu-desktop{
    position: fixed;
    z-index: 9;
}
.sub-menu{
    z-index: 9;
}
.hidden-mobile{
    visibility: visible;
}
/* size */
.w-10{
    width: 10% !important;
}
.w-20{
    width: 20% !important;
}
.w-40{
    width: 40% !important;
}
.w-50{
    width: 50% !important;
}
.w-60{
    width: 60% !important;
}
.w-100{
    width: 100% !important;
}
/* popup */
.w-maxcontent{
    width: max-content;
    display: block;
}
.overflow-hidden{
    overflow: hidden !important;
}
.hover-red:hover{
    color:rgb(124, 1, 11) !important; 
}
.hover-green:hover{
    color:rgb(1, 104, 44) !important; 
}
.hover-yellow-bg:hover{
    background-color: #7fcce44b !important;
}
/* text */
.color-red{
    color:#a50505;
}
.color-blue{
    color:#20357c;
}
.color-black{
    color:#292929 !important;
}
.color-green{
    color: #4e995f !important
}
.text-light{
    font-weight: lighter;
    color: rgb(115, 115, 115) !important;
}
.text-thin{
    font-weight: lighter;
}
.text-thin{
    font-weight: 100;
}
.hidden{
    visibility: hidden;
    display: none;
}
.show{
    visibility: visible;
    display: block;
}
/* button minus and plus */
.button-minus, .button-plus{
    width: 45px;
    height: 100%;
    cursor: pointer;
}
.mp-0{
    padding : 0 !important;
    margin :0 !important;
}
.pr-10{
    padding-right: 10px !important;
}
/* table */
.table{
    width: 100%;
    border:1px solid black;
    overflow-x: auto;
    display: block;
}
.table-noBlock{
    width: 100%;
    border:1px solid black;
    overflow-x: auto;
}
/*Decorate*/
.line{
    padding: 10px;
    margin-top:20px;
    margin-bottom:20px;
    height: max-content;
    background-color: rgb(218, 218, 218);
    text-align: center;
    width: 100%;
    display: block;
    color:#6f896d;
    border-radius: 5px;
}
.factory p{
    font-weight: 700;
}
.factory li{
    list-style-type: initial;
}

.factory div{
    margin-left: 15px;
}
