@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,900&display=swap');

body, .main-menu > li > a{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
}